/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-warning, .bg-info, .bg-success {
  width: 10%;
}
.jumbotron {
  background-image: url("./assets/img/taps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 120px;
  font-weight: bolder;
  margin-left: 78%;
  /*color: #dbdde0;*/
  background-color: #ceccc8;
  border-radius: 50%;
  padding-left: 30px;
}
